/* body -*/
body {
    background: #ffffff;
    font-family: monospace;
    font-style: normal;
    font-weight: 300;
    position: relative;
}

html,
body {
    width: 100%;
    overflow-x: hidden;
}

html {
    font-size: 100%;
}

/* typografia */
h1 {
    font-weight: 300;
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 12px;
    text-transform: uppercase;
    padding-bottom: 8px;
}

p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 34px;
}

.btn {
    border: none;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
}

.btn-success {
    background: #e44c65;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 14px 32px;
    margin-top: 26px;
}

.btn-success:hover {
    background: #222;
}

/* navbar */

.navbar-default {
    background: #000000;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
    border: none;
    margin-bottom: 0px !important;
}

.navbar-default .navbar-brand {
    color: #fafafa;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
}

.navbar-default .navbar-nav li a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    padding-right: 22px;
    padding-left: 22px;
}

.navbar-default .navbar-nav li a span {
    position: relative;
    display: block;
    padding-bottom: 2px;
}

.navbar-default .navbar-nav li a span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgba(230, 219, 219, 0.5);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.navbar-default .navbar-nav li a:hover span:before {
    visibility: visible;
    transform: scaleX(1);
}

.navbar-default .navbar-nav li.active a span:before {
    visibility: visible;
    transform: scaleX(1);
    background-color: #ffffff;
}

.navbar-default .navbar-nav > li a:hover {
    color: #ffffff !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgb(255, 255, 255);
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

@media screen and (max-width: 768px) {
    .navbar-default .navbar-nav li a span:before {
        background: transparent !important;
    }
    .navbar-default .navbar-nav li.active a {
        background: transparent;
        background: none;
        color: #ffffff !important;
    }
    .navbar-default .navbar-nav li.active a span:before {
        visibility: visible;
        transform: scaleX(1);
    }
}

/*pääsivu */
#logo {
    margin: 0 auto;
    width: 70%;
    height: auto;
    align-self: auto;
}
#alt-logo {
    display: none;
}

.overlay {
    background: #000000;
    opacity: 0.7;
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
}

#pää {
    display: flex;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url(../images/agnolotti4.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

#pää h1 {
    color: #f9f9f9;
}
#pää p {
    color: #f9f9f9;
}

/* Varaa pöytä */

#varaa {
    display: flex;
    align-items: center;
    height: 100vh;
    text-align: center;
}
/* Lahjakortti */
#lahja {
    display: flex;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #000000;
}
#lahja h1,
#lahja h3 {
    color: #ffffff;
}
#lahja p {
    color: #f9f9f9;
}

.card {
    margin-top: 1em;
    background: #e44c65;
    padding: 0.5em;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
}
.card:hover {
    background: #222;
}

/* skaalaus sekä mobiiliskaalaus */

@media (max-width: 1680px) {
    #logo {
        width: 45%;
    }

    p {
        font-size: 18px;
        line-height: 22px;
    }
    h3 {
        font-size: 1.25rem;
        letter-spacing: 0.2rem;
    }
    h1 {
        font-size: 1.25rem;
        line-height: 30px;
        letter-spacing: 0.6rem;
    }
}

@media (max-width: 767px) {
    #pää,
    .overlay {
        height: 100vh;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 1rem;
        line-height: 25px;
        letter-spacing: 0.4rem;
    }
    h3 {
        font-size: 1rem;
        letter-spacing: 0.15rem;
    }
    p {
        font-size: 14px;
        line-height: 15px;
    }

    img {
        width: 100%;
    }
    #logo {
        width: 70%;
    }
    .card {
        padding: 2px;
    }
    @media (max-width: 320px) {
        #logo {
            display: none;
        }
        #alt-logo {
            display: block;
        }
    }
}
